<div class="section-padding-all--sm contact-form-container">
  <p style="text-align:center;margin-bottom:1em">Tavoitat meidät parhaiten numerosta <strong><a href="tel:{{ site.phone }}">{{ site.phone }}</a></strong> ja/tai sähköpostitse <strong><a href="mailto:{{ site.email }}">{{ site.email }}</a></strong>.</p>

<!--   <form class="pure-form contact-form" action="https://getsimpleform.com/messages?form_api_token=cacd2dc1a6ffbf7685e598f5f063b158" method="post">
    <fieldset class="pure-group">
      <input name='name' class="pure-input-1-2" placeholder="Nimi*" required>
      <input name='email' type="email" class="pure-input-1-2" placeholder="Sähköposti*" required>
      <input name='phone' type="tel" class="pure-input-1-2" placeholder="Puhelinnumero">
    </fieldset>

    <div class='contact-form__offer-address-container'>
      <div class='contact-form__offer-container'>
        <label for="offer" class="pure-checkbox">
            <input id='offer' name='offer' type="checkbox"> Tarjoan tonttia
        </label>
      </div>

      <div class="contact-form__address-container">
        <input name='address' class="pure-input-1-2" placeholder="Tontin osoite">
        <i class="fa fa-close fa-lg address-close-btn"></i>
      </div>
    </div>

    <textarea class="pure-input-1-2" name='message' placeholder="Jätä viestiä..."></textarea>

    <button class="pure-button pure-button-primary uppercase-bold" type='submit'>Lähetä</button>
  </form>

  <div class="contact-form-submit-message">
    <p>Yhteydenottopyyntö lähetetty, kiitos!<br />Olemme teihin yhteyksissä mahdollisimman pian.</p>
    <div class="contact-form-return-link-container">
      <i class="fa fa-chevron-left fa-lg"></i> <a href="{{ site.baseurl }}/#ota-yhteytta">Palaa lomakkeen tietoihin</a>
    </div>
  </div> -->
</div>

<iframe class="contact-page-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21242.187629221884!2d24.907695272395316!3d60.17052274282521!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x45b063cfc0b24758!2sENLI+OY!5e0!3m2!1sen!2sus!4v1500813995984" frameborder="0" allowfullscreen> </iframe>
