<!-- <ul itemscope itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
    <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
        <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
        <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncatewords: 30 }}</p>
        <span class="preview__more">Lue lisää</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Edellinen</a>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Seuraava</a>
    {% endif %}
  </div>
{% endif %}
 -->

<div class="box hoivakodit">
  <div class="box-overlay">
    <p class="service-list-intro">
      Hoivakodit on suunnattu muistisairaille ikäihmisille, jotka tarvitsevat tehostettua palveluasumista arjen haasteissa. Hoivakodissa on useampi ryhmäkoti, joissa on jokaiselle asukkaalle kodinomainen oma asunto. Muille erityisryhmille rakennutamme esteettömiä ja kodinomaisia hoivakoteja erityisvaatimukset tarkasti huomioiden.
    </p>
    <ul class="service-list">
      <li class="service-list--item">
        <i class="badge">1</i>
        <p class="service-list--item-text">
          Vastaamme ikääntyvän väestön asuntotarpeeseen rakennuttamalla ikäihmisille esteettömiä ja turvallisia asuntoja
        </p>
      </li>
      <li class="service-list--item">
        <i class="badge">2</i>
        <p class="service-list--item-text">
          Yhteisölliset palvelutalot toteutamme itsenäistä asumista tukevaksi. Palvelutaloissa on senioriasuntoja ja ikääntyvän ihmisen tarvitsemia palveluita
        </p>
      </li>
      <li class="service-list--item">
        <i class="badge">3</i>
        <p class="service-list--item-text">
          Rahoitamme hankkeet ja uuden hoivakodin avaaminen on vaivatonta ja helppoa vuokralaiselle
        </p>
      </li>
      <li class="service-list--item">
        <i class="badge">4</i>
        <p class="service-list--item-text">
          Rakennutamme ja rahoitamme yksityisiä päiväkoteja.
        </p>
      </li>
    </ul>
  </div>
  <h3 class="box-title"><a href="#palvelut-hoivakiinteistot">Hoivakiinteistöt</a></h3>
</div>
<div class="box asunnot">
  <div class="box-overlay">
    <ul class="service-list">
      <li class="service-list--item">
        <i class="badge">1</i>
        <p class="service-list--item-text">
          Rakennutamme kohtuuhintaisia vuokra-asuntoja kasvukeskuksiin, pääasiallisesti Tampereelle ja pääkaupunkiseudulle
        </p>
      </li>
      <li class="service-list--item">
        <i class="badge">2</i>
        <p class="service-list--item-text">
          Ostamme ja vuokraamme tontteja, joissa on asemakaava valmiina
        </p>
      </li>
      <li class="service-list--item">
        <i class="badge">3</i>
        <p class="service-list--item-text">
          Toimimme tiiviissä yhteistyössä vastuullisten kiinteistösijoittajien kanssa ja sijoitamme vuokra-asuntoihin yhteissijoittamisen periaatteiden mukaan.
        </p>
      </li>
    </ul>
  </div>
  <h3 class="box-title"><a href="#asunnot">Asunnot</a></h3>
</div>
<div class="box kiinteistokehitys">
  <div class="box-overlay">
    <ul class="service-list">
      <li class="service-list--item">
        <i class="badge">1</i>
        <p class="service-list--item-text">
          Olemme asunto-osakeyhtiöiden ja kiinteistöjen omistajien kumppani täydennysrakentamisessa:
          <ul class="service-list--item-sublist">
            <li>kaavoitamme yhteistyössä kaupungin ja taloyhtiön kanssa tonteille lisää rakennusoikeutta</li>
            <li>tontin lunastamme taloyhtiöltä markkinahintaan, jonka määrittelee ulkopuolinen arvioitsija</li>
            <li>kerrostalon korottaminen on yksi vaihtoehto täydennysrakentamiselle</li>
          </ul>
        </p>
      </li>
      <li class="service-list--item">
        <i class="badge">1</i>
        <p class="service-list--item-text">
          Etsimme aktiivisesti kiinteistökehityskohteita
        </p>
      </li>
      <li class="service-list--item">
        <i class="badge">1</i>
        <p class="service-list--item-text">
          Luomme kiinteistöihin yhteissijoittamisen mahdollisuuksia, mikäli olet kiinnostunut kiinteistösijoittamisen mahdollisuuksista, ota yhteyttä!
        </p>
      </li>
    </ul>
  </div>
  <h3 class="box-title"><a href="#palvelut-kiinteistokehitys">Kiinteistökehitys</a></h3>
</div>
