---
layout: default
---
<section class="previews">
  <div>
    <div class="previews__container hero">
      <div class="site-contact">
        <h1 class="site-title">{{ site.title }}</h1>
        <dl class="info">
          <dt><i class="fa fa-fw fa-phone" aria-hidden="true"></i> <a href="tel:{{ site.phone }}">{{ site.phone }}</a></dt>
          <dt><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></dt>
          <dt><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.fi/maps/place/ENLI/@60.1734979,24.9571288,17z/data=!3m1!4b1!4m5!3m4!1s0x46920bd052ffe5c3:0x45b063cfc0b24758!8m2!3d60.1734952!4d24.9593175" target="_blank" rel="nofollow">Maneesikatu 1-3 E 35, Helsinki</a></dt>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <header class="site__navigation-bar">
      <ul class="tabs">
        <li class="tabs__item"><a href="#etusivu" tabindex="1">Etusivu</a></li>
        <li class="tabs__item"><a href="#palvelut" tabindex="2">Palvelut</a></li>
        <li class="tabs__item"><a href="#ota-yhteytta" tabindex="3">Ota yhteyttä</a></li>
      </ul>
    </header>

    <div class="tab">
      <div class="section-padding-all--sm center">
        <h5 class="center">{{ site.title }} &mdash; Hoivakiinteistöjen kehittäjä ja rakennuttaja</h5>
        <p class="mt-1em">
          Olemme erikoistuneet asuin- ja hoivakiinteistöjen rakennuttamiseen. Toimimme laajan yhteistyöverkostomme kanssa ja hoidamme isot ja pienet toimeksiannot asiakkaan luottamusta kunnioittaen.
        </p>
        <p>Rakentaminen pitää olla hauskaa ja oikeudenmukaista. Olemme hyvin tarkkoja siitä, mitä teemme ja kenen kanssa. Emme koe yhteistyökumppaneitamme asiakkaina, vaan partnereina, joiden kanssa on parhaimmillaan tehty vuosia yhteistyötä. Tämä heijastuu kaikessa liiketoiminnassamme jo vuodesta 2006.
        </p>
      </div>

      <div class="section-padding-all--sm section-padding-all--no-top-bottom center section-references">
        <h5 class="center">Referenssit</h5>
        <div style="margin-top:0.5em">Tarkempi referenssilistaus pyydettäessä.</div>
        <div class="testimonials clearfix">
          <div class="mt-1em testimonial">
            <div class="testimonial__box testimonial__box-joensuu"></div>
            <span class="testimonial__text">Päiväkoti 750k-m&sup2;<br>2017</span>
          </div>
          <div class="mt-1em testimonial">
            <div class="testimonial__box testimonial__box-kuopio"></div>
            <span class="testimonial__text">Päiväkoti 850k-m&sup2;<br>2017</span>
          </div>
          <div class="mt-1em testimonial">
            <div class="testimonial__box testimonial__box-lohja"></div>
            <span class="testimonial__text">Hoivakoti 1600k-m&sup2;<br>2017</span>
          </div>
        </div>
      </div>

      <div class="bisnode">
        <a href="https://www.soliditet.fi/lang/fi_FI/RatingGuideline" target="_blank" style="text-decoration: none;"><img style="border:0px;" oncontextmenu="return false" title="Me olemme luottokelpoinen yritys Bisnode rating järjestelmän mukaan. Bisnode rating on automaattinen ja jatkuvapäivitteinen luottoluokitusjärjestelmä." alt="Me olemme luottokelpoinen yritys Bisnode rating järjestelmän mukaan. Bisnode rating on automaattinen ja jatkuvapäivitteinen luottoluokitusjärjestelmä." id="img_273_73_px_tr1" src="https://merit.soliditet.fi/merit/imageGenerator/display?lang=FI&country=FI&cId=mpfQl%2FYSAeuHNCvn5eBcyA%3D%3D&cUid=RT4SpJLGh38%3D&imgType=img_273_73_px_tr1" /></a>
      </div>
    </div>

    <div class="tab">
      {% include palvelut.html %}
    </div>

    <div class="tab">
      {% include ota_yhteytta.html %}
    </div>

  </div>

</section>

{% include photoswipe.html %}
