/**
 * Sections
 */
section {
  position: relative;
}

.section-padding {
  padding: 4em 0;

  &--lg {
    padding: 6em 0;
  }

  &--sm {
    padding: 2em 0;
  }
}

.section-padding-all {
  padding: 4em;

  &--lg {
    padding: 6em;
  }

  &--sm {
    padding: 2em;
  }

  &--no-top-bottom {
    padding-top: 0em;
    padding-bottom: 0em;
  }
}

.section-references {
  margin-top: -0.5em;
}

/**
 * Class Container (BEM)
 */
[class*='__container'] {
  position: relative;
  z-index: 1;
}

/**
 * Blog page
 */
.previews {

  @media (max-width: $mq-md) {
    display: flex;
    flex-direction: column;
  }

  & > * {

    &:first-child {
      position: relative;

      height: 16em;

      @media (min-width: $mq-sm) and (orientation: portrait) { height: 22em; }

      background-color: $color-black;

      @media (min-width: $mq-md) {
        position: fixed;
        top: 0;
        left: 0;

        height: 100%;
        width: 45%;
      }

      &:after {
        @extend %overlay;
      }
    }

    &:last-child {
      // min-height: 100vh;

      @media (min-width: $mq-md) {
        margin-left: 45%;
      }
    }
  }
}
