$font-header: 'Space Mono', monospace;
$font-body: 'Inconsolata', monospace;
$font-post: 'Lora', serif;

$color-alpha: #458DB3;
$color-light-blue: #C8E4F2;
$color-alpha--light: #f5f3ef;

$color-black: #0a0a0a;
$color-grey: #f8f9f9;
$color-grey-dark: #e1e1e1;
$color-grey-darker: #b9bbcc;
$color-grey-darkest: #767676;
$color-white: #fff;
$color-yellow: #e4c63b;
$color-green: #5ca25c;

$font-small: 0.8em;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
